[Desktop Entry]
Categories = GNOME; GTK;
Comment = Configure GNOME Shell Extensions
Exec = /usr/bin/gnome-shell-extension-prefs %u
Icon = gnome-shell
Name = Shell Extensions
NoDisplay =t rue
OnlyShowIn = GNOME;
Type = Application
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Component = extensions
X-GNOME-Bugzilla-Product = gnome-shell
X-GNOME-Bugzilla-Version = 3.28.1
X-Ubuntu-Gettext-Domain = gnome-shell
