[Desktop Entry]
Categories = TextEditor;
Comment = Client for the GNU Emacs Text Editor
Encoding = UTF-8
Exec = /usr/bin/gnuclient.emacs %F
GenericName = gnuclient
Icon = gnuclient
MimeType = text/plain
Name = gnuclient
Terminal = false
TryExec = gnuclient
Type = Application
Version = 1.0
