[Desktop Entry]
Name=IBus Hangul Preferences
Name[ko]=IBus 한글 설정
Comment=Set IBus Hangul Preferences
Comment[ko]=IBus 한글 엔진을 설정합니다
Exec=ibus-setup-hangul
Icon=ibus-setup-hangul
NoDisplay=true
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
