[Desktop Entry]
Type=Application
Name=Desktop Icons
Icon=desktop-icons
Comment=Classic session desktop file for desktop icons
Exec=nautilus-desktop --force
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-Provides=filemanager
X-Ubuntu-Gettext-Domain=nautilus
