[Desktop Entry]
Name=Notification Daemon
Comment=Display notifications
Icon=notification-daemon
Exec=/usr/lib/notification-daemon/notification-daemon
Terminal=false
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=notification-daemon
