[Desktop Entry]
Name = GNOME Shell
Comment = Window management and application launching
Exec = /usr/bin/gnome-shell
Icon = gnome-shell
Type = Application
X-GNOME-Bugzilla-Bugzilla = GNOME
X-GNOME-Bugzilla-Product = gnome-shell
X-GNOME-Bugzilla-Component = general
X-GNOME-Bugzilla-Version = 3.28.1

Categories = Core; GNOME; GTK;
OnlyShowIn =GNOME;
NoDisplay = true
X-GNOME-Autostart-Phase = DisplayServer
X-GNOME-Provides = panel; windowmanager;
X-GNOME-Autostart-Notify = true
X-GNOME-AutoRestart = false
X-Ubuntu-Gettext-Domain = gnome-shell
