[Desktop Entry]
Name=Reboot
Comment=Reboot the computer
GenericName=Reboot
Exec=gnome-session-quit --reboot
Terminal=false
Type=Application
Categories=Utility
Icon = restart_highlight
# Icon=/usr/share/unity/icons/restart_highlight.png
NotShowIn=GNOME-Flashback;
X-AppStream-Ignore=true
X-Ubuntu-Gettext-Domain=session-shortcuts
