[Desktop Entry]
Name=Shutdown
Comment=Power off the computer
GenericName=Shut Down
Exec=gnome-session-quit --power-off
Terminal=false
Type=Application
Categories=Utility
Icon = shutdown_highlight
# Icon=/usr/share/unity/icons/shutdown_highlight.png
NotShowIn=GNOME-Flashback;
X-AppStream-Ignore=true
X-Ubuntu-Gettext-Domain=session-shortcuts
