[Desktop Entry]
Name=nmap
Encoding=UTF-8
Exec=sh -c "nmap;${SHELL:-bash}"
Icon=kali-nmap
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;01-04-network-scanners;02-vulnerability-analysis;
X-Kali-Package=nmap
