[Desktop Entry]
Name=NASM shell
Encoding=UTF-8
Exec=sh -c "cd /usr/share/metasploit-framework/tools/exploit && ./nasm_shell.rb;${SHELL:-bash}"
Icon=kali-metasploit
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Kali-Package=metasploit-framework
