[Desktop Entry]
Name=iputils-arping
Encoding=UTF-8
Exec=sh -c "arping;${SHELL:-bash}"
Icon=kali-apring
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
X-Kali-Package=iputils-arping
