[Desktop Entry]
Categories = System; Utility;
Exec = xvkbd
GenericName = X Virtual Keyboard
Icon = xvkbd
Keywords = keyboard; input;
Name = xvkbd
Type = Application

