[Desktop Entry]
Name = Compiz
Exe = compiz
Icon = ccsm 
NoDisplay = true
Type=Application
# name of loadable control center module
X-GNOME-WMSettingsModule = compiz
# autostart phase
X-GNOME-Autostart-Phase = WindowManager
X-GNOME-Provides = windowmanager
# name we put on the WM spec check window
X-GNOME-WMName = compiz
# back compat only 
X-GnomeWMSettingsLibrary = compiz
X-Ubuntu-Gettext-Domain = compiz
