[Desktop Entry]
Name=Account Wizard
Name[ar]=مرشد الحسابات
Name[ast]=Encontu pa cuentes
Name[ca]=Assistent de comptes
Name[ca@valencia]=Assistent de comptes
Name[cs]=Průvodce nastavením účtu
Name[da]=Guide til konti
Name[de]=Zugangsassistent
Name[en_GB]=Account Wizard
Name[es]=Asistente de cuentas
Name[et]=Kontonõustaja
Name[fi]=Opastettu tilin luonti
Name[fr]=Assistant de comptes
Name[gl]=Asistente de contas
Name[ia]=Assistente pro Conto
Name[it]=Procedura guidata per la creazione di account
Name[ko]=계정 마법사
Name[nb]=Konto-veiviser
Name[nl]=Accountassistent
Name[pl]=Pomocnik konta 
Name[pt]=Assistente de Contas
Name[pt_BR]=Assistente de Contas
Name[ru]=Мастер учётных записей
Name[sk]=Sprievodca účtom
Name[sl]=Čarovnik za račune
Name[sr]=Чаробњак за налоге
Name[sr@ijekavian]=Чаробњак за налоге
Name[sr@ijekavianlatin]=Čarobnjak za naloge
Name[sr@latin]=Čarobnjak za naloge
Name[sv]=Kontoguide
Name[tr]=Hesaplar
Name[uk]=Майстер облікових записів
Name[x-test]=xxAccount Wizardxx
Name[zh_CN]=账户向导
Name[zh_TW]=帳號精靈
Exec=accountwizard --package %u
Type=Application
NoDisplay=true
Comment=Launch the account wizard to configure PIM accounts.
Comment[ar]=أطلِق مرشد الحسابات لضبط حسابات PIM.
Comment[ca]=Llança l'assistent de comptes per a configurar els comptes de la PIM.
Comment[ca@valencia]=Llança l'assistent de comptes per a configurar els comptes de la PIM.
Comment[cs]=Spustit průvodce nastavením PIM účtů.
Comment[da]=Start kontoguiden for at konfigurere PIM-konti.
Comment[de]=Den Postfach-Assistenten zum Einrichten von PIM-Zugängen starten.
Comment[el]=Εκτέλεση του οδηγού λογαριασμού για τη ρύθμιση λογαριασμών PIM.
Comment[en_GB]=Launch the account wizard to configure PIM accounts.
Comment[es]=Lanzar el asistente de cuentas para configurar cuentas PIM.
Comment[et]=Kontonõustaja käivitamine PIM-kontode seadistamiseks.
Comment[fi]=Käynnistä PIM-tilien opastettu asetus.
Comment[fr]=Lance l'assistant de compte pour configurer les comptes PIM.
Comment[gl]=Iniciar o asistente de contas para configurar as contas de información persoal.
Comment[ia]=Aperi le assistente de conto pro configurar contos del Administration de Informationes Personal
Comment[it]=Esegue la procedura guidata per la creazione di account per configurare gli account di PIM.
Comment[kk]=PIM тіркелгілерін баптау үшін шеберін жегеді.
Comment[ko]=PIM 계정을 설정하는 계정 마법사를 실행합니다.
Comment[nb]=Start kontoveiviseren for å sette opp PIM-kontoer.
Comment[nds]=Konto-Hölper för't Inrichten vun PIM-Kontos starten
Comment[nl]=Start de accountassistent om PIM-accounts in te stellen.
Comment[pl]=Wywołaj pomocnika konta, aby ustawić konta ZIO.
Comment[pt]=Invocar o assistente de contas para configurar as contas de PIM.
Comment[pt_BR]=Executa o assistente para configuração das contas PIM.
Comment[ru]=Мастер для добавления учётных записей в электронном секретаре
Comment[sk]=Spustí sprievodcu účtami na nasatavenie PIM účtov.
Comment[sl]=Zaženite čarovnika za nastavljanje računov za osebne podatke.
Comment[sr]=Покреће чаробњак за налоге ради подешавања ПИМ налога
Comment[sr@ijekavian]=Покреће чаробњак за налоге ради подешавања ПИМ налога
Comment[sr@ijekavianlatin]=Pokreće čarobnjak za naloge radi podešavanja PIM naloga
Comment[sr@latin]=Pokreće čarobnjak za naloge radi podešavanja PIM naloga
Comment[sv]=Starta kontoguiden för att anpassa konton för personlig informationshantering.
Comment[tr]=PIM hesaplarını düzenlemek için hesap sihirbazını başlat.
Comment[uk]=Запустити майстер облікових записів для налаштування.
Comment[x-test]=xxLaunch the account wizard to configure PIM accounts.xx
Comment[zh_CN]=调用账户向导配置个人信息账户。
Comment[zh_TW]=啟動帳號精靈來設定 PIM 帳號
Icon = org.kde.accountwizard
MimeType=application/x-accountwizard-package;
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.accountwizard
