[Desktop Entry]
Name = TeXdoctk
Exec = texdoctk
Icon = texdoctk
Type = Application
Terminal = false
Categories = LaTeX; Math; Maths; Programming; Science; SCiences; Textditor; TeX;
