[Desktop Entry]
Name = Spring Tool Suite
Comment = Spring Tool Suite
Exec = /home/gusreis/Downloads/Apps/STS/sts-3.9.4.RELEASE/STS
Icon = sts
# Icon = /home/gusreis/Downloads/Apps/STS/sts-3.9.4.RELEASE/icon.xpm
StartupNotify = true
Terminal = false
Type = Application
Categories = Development; IDE; Java; Programming;
