[Desktop Entry]
Categories = Graphics;
Comment = A free SVG editor
Exec = /home/ubuntu/Downloads/Apps/Vectr/vectr
Icon = vectr
Name[en_GB] = Vectr
Name[en_US] = Vectr
Name = Vectr
Terminal = false
Type = Application
