[Desktop Entry]
Name[ca]=Stellarium
Name[de]=Stellarium
Name[el]=Stellarium
Name[en_GB]=Stellarium
Name[en_US]=Stellarium
Name[es]=Stellarium
Name[fr]=Stellairum
Name[it]=Stellarium
Name[ja]=Stellarium
Name[ka]=Stellarium
Name[nl]=Stellarium
Name[pt]=Stellarium
Name[pt_BR]=Stellarium
Name[ro]=Stellarium
Name[ru]=Stellarium
Name[uk]=Stellarium
Name=Stellarium
Comment[ca]=Aplicació d'astronomia per aficionats i professionals
Comment[de]=Astronomie-App für Bastler und Profis
Comment[el]=Εφαρμογή αστρονομίας για χομπίστες και επαγγελματίες
Comment[en_GB]=An astronomy app for hobbyists and professionals
Comment[en_US]=An astronomy app for hobbyists and professionals
Comment[es]=Una aplicación de astronomía para aficionados y profesionales
Comment[fr]=Une application d'astronomie pour les amateurs et les professionnels
Comment[it]=Un'app di astronomia per hobbisti e professionisti
Comment[ka]=ასტრონომიის აპლიკაცია hobbyists-თვის და პროფესიონალებთვის
Comment[ja]=愛好家と専門家のための天文アプリ
Comment[nl]=Een astronomie-app voor hobbyisten en professionals
Comment[pt]=Uma aplicação de astronomia para entuasistas e profissionais
Comment[pt_BR]=Um aplicativo de astronomia para hobbyistas e profissionais
Comment[ro]=O aplicație de astronomie pentru pasionați și profesioniști
Comment[ru]=Приложение для астрономии для любителей и профессионалов
Comment[uk]=Астрономічний додаток для любителів та професіоналів
Comment=An astronomy application for amateurs, hobbyists and professionals
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=stellarium
Icon[de]=stellarium
Icon[el]=stellarium
Icon[en_UK]=stellarium
Icon[en_US]=stellarium
Icon[es]=stellarium
Icon[fr]=stellarium
Icon[it]=stellarium
Icon[ja]=stellarium
Icon[ka]=stellarium
Icon[nl]=stellarium
Icon[pt]=stellarium
Icon[pt_BR]=stellarium
Icon[ro]=stellarium
Icon[ru]=stellarium
Icon[uk]=stellarium
Icon[sr]=stellarium
Icon[sr@latin]=stellarium
Icon[sv]=stellarium
Icon[tr]=stellarium
Icon[zh_CN]=stellarium
Icon[zh_TW]=stellarium
Icon=stellarium
Exec='/home/ubuntu/Downloads/Apps/Stellarium Beta.AppImage'
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=gnome-tweaks
Categories=Astronomy;Education;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=astronomia; galàxia; planetes; estrelles;
Keywords[de]=Astronomie; Galaxie; Planeten; Sterne;
Keywords[el]=αστρονομία; γαλαξίας; πλανήτε; αστέρια;
Keywords[es]=astronomía; galaxia; planetas; estrellas;
Keywords[eu]=astronomia; galaxia; planetak; izarrak;
Keywords[fr]=astronomie; galaxie; planètes; étoiles;
Keywords[it]=astronomia; galassia; pianeti; stelle;
Keywords[ja]=天文学; 銀河; 惑星; 星;
Keywords[ka]=ასტრონომია; გალაქტიკა პლანეტები; ვარსკვლავები;
Keywords[nl]=astronomie; galaxy; planeten; schitterende groep; schitterende schar; schitterende stoet; schitterende verzameling; sterren;
Keywords[pt]=astronomia; galáxia; planetas; estrelas;
Keywords[pt_BR]=astronomia; galáxia; planetas; estrelas;
Keywords[ro]=astronomie; galaxie; planete; stele;
Keywords[ru]=астрономия; галактики; планеты; звезды;
Keywords[uk]=астрономія; галактика; планети; зірки;
Keywords=astronomy; galaxy; planets; stars;
OnlyShowIn=GNOME;Unity;Pantheon;
