[Desktop Entry]
Categories = Graphics;
Comment = Gravit Designer is a full featured free vector design app right at your fingertip.
Exec = /snap/gravit-designer/current/GravitDesigner
Icon = gravit-designer
Name[en_GB] = Gravit Designer
Name[en_US] = Gravit Designer
Name = Gravit Designer
Terminal = false
Type = Application

