[Desktop Entry]
Actions = Window; Document;
Categories = TextEditor; Development;
Comment = Sophisticated text editor for code, markup and prose
Exec = /snap/sublime-text/current/sublime_text
GenericName = Text Editor
Icon = sublime-text
MimeType = application/javascript; application/json; application/xml; text/css; text/html; text/plain;
Name = Sublime Text
Name[en_GB] = Sublime Text
Name[en_US] = Sublime Text
StartupNotify = true
Terminal = false
Type = Application

[Desktop Action Window]
Name = New Window
OnlyShowIn = Gnome; Unity;

[Desktop Action Document]
Name = New File
OnlyShowIn = Gnome; Unity;

