[Desktop Entry]
Categories = ProjectManagement;
Comment = A platform for collaboration and project management.
Exec = /snap/zenkit/current/zenkit
Icon = zenkit
Name[en_GB] = Zenkit
Name[en_US] = Zenkit
Name = Zenkit
Terminal = false
Type = Application

