[Desktop Entry]
Name = FreeMat
Categories = Education; Engineering; Mathematics;  Math; Maths; Science; SCiences;
Comment = A free environment for rapid engineering and scientific prototyping and data processing
Exec = freemat
GenericName = Scientific Software Package
Icon = freemat
# Icon=/usr/share/pixmaps/freemat/freemat.png
StartupNotify = false
Terminal = false
Type = Application
