[Desktop Entry]
Categories=Network;FileTransfer;
Encoding=UTF-8
Exec=crossftp
GenericName=CrossFTP
Icon=crossftp
Name=CrossFTP
Terminal=0
Type=Application
Version=1.0
