[Desktop Entry]
Name=IBus LibBopomofo Preferences
Name[zh_CN]=IBus 智能注音配置工具
Name[zh_TW]=IBus 智能注音配置工具
Name[zh_HK]=IBus 智能注音配置工具
Comment=Set ibus-libbopomofo Preferences
Comment[zh_CN]=设置 IBus 智能注音首选项
Comment[zh_TW]=設定 IBus 智能注音個人偏好
Comment[zh_HK]=設定 IBus 智能注音個人偏好
Exec=/usr/lib/ibus/ibus-setup-libpinyin libbopomofo
Icon=ibus-bopomofo
# Icon=/usr/share/ibus-libpinyin/icons/ibus-bopomofo.svg
NoDisplay=true
Type=Application
StartupNotify=true
